{% extends "base.html" %}

{% block content %}
<h1>Ваша корзина пуста...</h1>
{% endblock %}

<div style="position:relative;overflow:hidden;"><a
        href="https://yandex.ru/maps/11121/almetyevsk/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:0px;">Almetyevsk</a><a
        href="https://yandex.ru/maps/11121/almetyevsk/?ll=52.280184%2C54.924273&mode=whatshere&source=wizgeo&utm_medium=mapframe&utm_source=maps&whatshere%5Bpoint%5D=52.279583%2C54.924193&whatshere%5Bzoom%5D=18&z=18@CCUFn0t4XC"
        style="color:#eee;font-size:12px;position:absolute;top:14px;">Almetyevsk — Yandex Maps</a>
    <iframe src="https://yandex.ru/map-widget/v1/-/CCUFn0t4XC" width="560" height="400" frameborder="1"
            allowfullscreen="true" style="position:relative;"></iframe>
</div>