{% extends "base.html" %}

{% block content %}
<a href="/add_meal" class="btn btn-warning">Добавить</a>
<br>
<br>
{% for j in all_meals %}
<h2 style="color: #ffffff; font-size: 24px;">{{ j }}</h2>
{% for c in range(all_meals[j][1]) %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for i in all_meals[j][0][c] %}
    <div class="col">
        <div class="card" style="width: 18rem; height: 18 rem;">
            <div class="card-body">
                {% if i[2] %}
                <img src="static/img/{{ i[2] }}" class="card-img-top" alt="..." style="width: 15.8rem; height: 10rem;">
                <br>
                {% endif %}
                <br>
                <h5 class="card-title" style="padding-bottom: 10px">{{ i[0] }}</h5>
                <a href="/delete_meal/{{ i[-1] }}" class="btn btn-danger">Удалить</a>
                <a style="color: #000000">{{ i[1] }}руб.</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
{% endfor %}
{% endfor %}
{% endblock %}