{% extends "base_map.html" %}

{% block content %}
<br>
<a href="#" class="btn btn-success" style="background-color:transparent; border-width:2px"><img
        src="static/img/map_2_shops.jpg" alt="..." style="width: 1269px; height: 600px;"></a>
<br>
<br>
{% for j in color_id %}
<div class="row row-cols-1 row-cols-md-5 g-4">
    {% for c in j %}
    <div class="col">
    <a class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top"
   data-bs-custom-class="custom-tooltip"
   title="{{ c[2] }}" href="/set_id/{{ c[1] }}"
   style="background-color:{{ c[0] }}; widht: 100px; height: 40px; width">Перейти в магазин</a>
    </div>
    {% endfor %}
</div>
<br>
{% endfor %}
<a class="btn btn-light" href="/">Вернуться обратно</a>
<br>
<br>
{% endblock %}